<template>
    <button :disabled="isDisable" @click="onClickHandler">Add</button>
</template>

<script>
    export default {
        name: "AddButton",
        props: {
            isDisable: Boolean
        },
        methods: {
            onClickHandler: function () {
                this.$emit('onClick');
            }
        }
    }
</script>

<style scoped>

</style>
