<template>
    <div>
        <ul v-for="(todo, index) in todos" :key="index + todo.name">
            <todo-item
                    :index="index"
                    :value="todo"
                    @onClick="itemClickHandler"
            />
        </ul>
    </div>
</template>

<script>
    import TodoItem from "./TodoItem";

    export default {
        tname: "List",
        components: {TodoItem},
        props: {
            todos: Array
        },
        methods: {
            itemClickHandler(item) {
                this.$emit('onTodoClick', item)
            }
        }
    }
</script>

<style scoped>

</style>
