<template>
    <li :isReady="value.isReady" @click="clickHandler">{{value.name}}</li>
</template>

<script>
    export default {
        name: "TodoItem",
        props: {
            value: Object,
            index: Number
        },
        methods: {
            clickHandler: function () {
                this.$emit('onClick', {
                    ...this.value,
                    index: this.index
                })
            }
        }
    }
</script>

<style scoped>
    li[isReady] {
        text-decoration: line-through;
    }
</style>
