<template>
    <div>
        <div>
            {{errMsg}}
        </div>
        <input

                :value="val"
                type="text"
                @input="changeHandler"
                @keyup.enter="enterHandler"
        >
        <add-button :disabled="isDisable" @onClick="addTodoHandler" />
    </div>
</template>

<script>
    import AddButton from "./AddButton";
    export default {
        name: "TodoInput",
        components: {AddButton},
        props: {
          val: String
        },
        data: function() {
          return {
              errMsg: "Input can't be empty"
          }
        },
        methods: {
            changeHandler: function (e) {
                const value = e.target.value;

                this.errMsg = value.length === 0 ? "Input can't be empty" : "";

                this.$emit('onChange', e.target.value);
            },
            enterHandler: function (e) {
                this.$emit('onEnter', e.target.value);
            },
            addTodoHandler: function (e) {
                this.$emit('onClick');
            }
        },
        computed: {
            isDisable: function () {
                return this.val.length === 0
            }
        }
    }
</script>

<style scoped>

</style>
