<template>
  <div id="app">
    <loading v-if="isLoading" />
    <div  v-if="!isLoading">
      <todo-input
              :val="inputValue"
              @onChange="changeTodoHandler"
              @onEnter="addTodoHandler"
              @onClick="addTodoHandler"
      />
      <list
              :todos="todos"
              @onTodoClick="changeTodoStatusHandler"
      />
    </div>
  </div>
</template>

<script>


import axios from 'axios';

import AddButton from "./components/AddButton";
import TodoInput from "./components/TodoInput";
import List from "./components/List";
import Loading from "./components/Loading";

export default {
    name: 'app',
    components: {
        Loading,
        List,
        TodoInput,
        AddButton
    },
    mounted: function() {
        this.getAllTasks();
    },
    data: function () {
        return {
            todos: [],
            inputValue: "",
            isLoading: false
        }
    },
    methods: {
        addTodoHandler: function () {
            const todo = {
                name: this.inputValue,
                isReady: false
            };

            this.addNewTask(todo);

            this.todos.push(todo);

            setTimeout(() => this.getAllTasks(), 2000);
            this.getAllTasks();

            this.inputValue = "";
        },
        changeTodoHandler: function (value) {
            this.inputValue = value;
        },
        changeTodoStatusHandler: function ({index, name}) {
            const todo = this.todos.find(t => t.name === name);

            const newTodo = {
                ...todo,
                isReady: !todo.isReady
            };

            this.$set(this.todos, index, newTodo);

            this.updateTaskStatus(newTodo);
        },
        getAllTasks: function () {
            axios.get("/api/todos").then(res => {
                this.todos = [...res.data];
                this.isLoading = false;
            });
        },
        addNewTask: function (todo) {
            axios
                .post("/api/todos", { ...todo })
                .then(res => console.log("res: ", res));
        },
        updateTaskStatus: function (todo) {
            axios
                .put(`/api/todos/${todo.key}`, {
                    ...todo,
                    key: undefined
                })
                .then(res => console.log("res: ", res))
        }
    }
}
</script>

<style>

</style>
